@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap");

body {
  direction: ltr;
  background-color: #1b6fb3;
  padding-bottom: 200px;
}

* {
  font-family: "Rubik", sans-serif !important;
}

h1 {
  text-align: center;
  color: white;
  margin: 16px;
}

.frame {
  width: 80%;
  max-width: 900px;
  min-height: 300px;
  background-color: #ffffffc9;
  margin: auto;
  padding: 8px 16px;
  border-radius: 6px;
}

.deck {
  width: 80%;
  max-width: 600px;
  min-height: 100px;
  background-color: #b71d1d39;
  margin: auto;
  margin-bottom: 5%;
  padding: 8px 16px;
  border-radius: 6px;
}

.players {
  display: flex;
  justify-content: space-between;
}

.player {
  width: 15%;
  max-width: 100px;
  min-height: 150px;
  background-color: #038b3539;
  padding: 8px 25px;
  border-radius: 6px;
  margin-right: 3%;
  margin-left: 3%;
  text-align: center;
  color: white;
}

.community-cards {
  width: 80%;
  max-width: 600px;
  min-height: 100px;
  background-color: #038b3539;
  margin: auto;
  margin-top: 5%;
  padding: 8px 16px;
  border-radius: 6px;
  text-align: center;
  color: white;
}

.controls {
  text-align: center;
  margin-top: 20px;
}
