//@import /yes.scss

.age-check-container {
  background-color: bisque;
  margin: 20rem 40% 40%;
  padding: 5rem 5rem;
  text-align: center;
}

.btn {
  border: 2px;
  color: rgb(159, 222, 187);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

.free-delivery {
  background-color: bisque;
  text-align: center;
}

.sale h2 {
  text-align: center;

  padding: 5rem 5rem;
}

.sale-blocks {
  display: flex;
  gap: 10rem;
  flex-direction: row;
  justify-content: center;
}

.sale-card {
  height: 15rem;
  width: 15rem;
  background-color: rgb(235, 125, 15);
  border-radius: 10px;
}

.advertisement {
  background-color: bisque;
  width: 80%;
  height: 50rem;
  margin: 10rem;

  text-align: center;
  padding: 10rem;
}

.advertisement-card {
  background-color: rgb(206, 15, 235);
  width: 80%;
  height: 300px;
  display: inline-block;
}

.advertisement h1 {
  margin-bottom: 10rem;
}
